html{
	height: 100%;
}

body{
	margin: 0;
  	background-color: #000;
  	background-image: url("contours.png");
  	background-size: 100%;
  	background-repeat: no-repeat;
}

canvas{
	margin: auto;
	margin-top: 200px;
}

